<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- internal render config (usually not modified by end-users) -->
	<irc_descriptorsetsperpool>32</irc_descriptorsetsperpool>
	<irc_validationlayers>true</irc_validationlayers>
	<!-- render config-->
	<rc_framesinflight>3</rc_framesinflight>
	<rc_multisamples>1</rc_multisamples>
	<rc_anisotropicsamples>1</rc_anisotropicsamples>
	<rc_renderscale>1</rc_renderscale>
	<!-- engine config-->
	<ec_appname>Sandbox</ec_appname>
	<ec_windowwidth>1600</ec_windowwidth>
	<ec_windowheight>900</ec_windowheight>
	<ec_vsync>true</ec_vsync>
	<!-- path configs -->
	<pc_assetpath>./assets/</pc_assetpath>
	<pc_shaderpath>./shaders/compiled/</pc_shaderpath>
</config>	